.card{
    width: 30px;
    height: 30px;
    line-height: 30px;
    &.flip{
        transform: rotate(90deg);
    }
}

$max: 52;
@for $i from 0 through $max {
    .card#{$i} {
        background-image: url('../images/card/card'+$i+'.svg');
        background-repeat: no-repeat;
        transform: translateX(25%);
        cursor: pointer;
    }
}